include ../_includes/elements/index
include ../_includes/components/index

doctype html
html(lang='ua')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet' href='./styles/index.css')
		link(rel="stylesheet" href="./styles/swiper-bundle.min.css")
		link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
		block style
		block title
			title Freebie Coffe
	body
		include ../../assets/icons/common/symbol-defs.svg
		.l-common
			block content
		block script