mixin giftset()
  .c-giftset#js-giftset
    .c-giftset__wrapper
      .c-giftset__title 
        +title({
          classList:"e-title--nunito",
          content:"Best Gift For Best Friend",
        })
        +title({
          classList:"e-title--montserrat",
          content:"GIFTSET",
        })
      .c-gitset__tab 
        +tab()


