.c-banner {
  &__background {
    max-width: 715px;
    width: 100%;
  }
  &__background-hide {
    display: none;
  }
  &__btn {
    display: flex;
    justify-content: center;
  }
  &__btn-video {
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: white;
    padding: 20px 20px 20px 23px;
    position: absolute;
    z-index: 2;
    top: 357px;
    cursor: pointer;
  }
  &__btn-video__hide {
    display: none;
  }
  &__btn-video-stop {
    display: none;
  }

  &__btn-video-stop__show {
    border: none;
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: white;
    padding: 19px;
    position: absolute;
    z-index: 3;
    top: 357px;
    cursor: pointer;
  }
  &__btn-video-stop__show > span {
    color: $c-dark-yellow;
    font-weight: bold;
  }
  &__video {
    max-width: 715px;
    width: 100%;
  }

  &__btn-video-hide {
    display: none;
  }
  &__title {
    max-width: 504px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 504px;
    left: 133px;
  }
}

.c-banner__background-hide {
  display: none;
}
#fon {
  display: none;
}

#fon-show {
  display: block;
  max-width: 715px;
  width: 100%;
  min-height: 768px;
  height: 100%;
  // box-shadow: ;
}
@media screen and (max-width: 1280px) {
  .c-banner {
    &__background > img {
      max-width: 715px;
      width: 100%;
      overflow: hidden;
      background-size: cover;
      min-height: 768px;
      height: 100%;
    }
    &__title {
      max-width: 400px;
      width: 100%;
      position: absolute;
      z-index: 2;
      top: 504px;
      right: 367px;
    }
  }
}
