.c-button {
  &-buy {
    border-radius: 20px;
    border: none;
    background-color: $c-dark-yellow;
    margin-right: 18px;
    // max-width: 134px;
    // width: 100%;
    padding: 8px 15px;
    cursor: pointer;
  }
  &-text {
    font-family: $f-nunito-bold;
    font-style: normal;
    font-weight: bold;
    font-size: em(16);
    line-height: 22px;
    text-align: center;
    color: $c-white;
  }
  &-more {
    border: none;
    background-color: #fff;
    padding: 9px 11px 2px 11px;
    cursor: pointer;
  }
  &-text--dark {
    font-family: $f-nunito-bold;
    font-style: normal;
    font-weight: bold;
    font-size: em(16);
    line-height: 22px;
    color: $c-primary;
  }
}

.c-tab__btn--buy {
  border-radius: 20px;
  border: none;
  background-color: $c-dark-yellow;
  padding: 8px 47px;
  cursor: pointer;
}
.c-tab__btn--more {
  border: none;
  background-color: #fff;
  padding: 8px 62px;
  cursor: pointer;
}
.c-tab__btn-text--dark {
  font-family: $f-nunito-bold;
  font-style: normal;
  font-weight: bold;
  font-size: em(16);
  line-height: 22px;
  color: $c-primary;
}
.c-tab__btn-text {
  font-family: $f-nunito-bold;
  font-style: normal;
  font-weight: bold;
  font-size: em(16);
  line-height: 22px;
  text-align: center;
  color: $c-white;
}
@media screen and (max-width: 1360px) {
  .c-button {
    &-buy {
      margin-right: 18px;
      padding: 4px 10px;
    }
    &-text {
      font-size: em(14);
    }
    &-more {
      padding: 5px 10px 2px 10px;
    }
    &-text--dark {
      font-size: em(14);
    }
  }
  .c-tab__btn--buy {
    padding: 8px 20px;
  }
  .c-tab__btn--more {
    padding: 8px 20px;
  }
  .c-tab__btn-text--dark {
    font-size: em(14);
  }
  .c-tab__btn-text {
    font-size: em(14);
  }
}
@media screen and (max-width: 1235px) {
  .c-button {
    &-buy {
      margin-right: 10px;
      padding: 3px 8px;
    }
    &-text {
      font-size: em(12);
    }
    &-more {
      padding: 3px 8px 2px 8px;
    }
    &-text--dark {
      font-size: em(12);
    }
  }
}
@media screen and (max-width: 1035px) {
  .c-button {
    &-buy {
      margin-right: 8px;
      padding: 3px 5px;
    }
    &-text {
      font-size: em(12);
      line-height: 20px;
    }
    &-more {
      padding: 3px 5px 2px 5px;
    }
    &-text--dark {
      font-size: em(12);
    }
  }
}
@media screen and (max-width: 620px) {
  .c-tab__btn--buy {
    padding: 4px 10px;
  }
  .c-tab__btn--more {
    padding: 4px 10px;
  }
  .c-tab__btn-text--dark {
    font-size: em(12);
  }
  .c-tab__btn-text {
    font-size: em(12);
  }
}
