.c-combo-swiper {
  &__slide {
    max-width: 360px !important;
  }
  // &__slide,
  // .swiper-slide,
  .swiper-slide-duplicate-prev,
  .lasted-item {
    opacity: 0.5;
  }
  &-button-next,
  .swiper-button-next {
    top: 50%;
    right: 6%;
  }
}

@media screen and(max-width:1360px) {
  .c-combo-swiper {
    &__slide {
      max-width: 300px !important;
    }
    // &__slide,
    // .swiper-slide,
    &-button-next,
    .swiper-button-next {
      top: 55%;
      right: 1%;
    }
  }
}
@media screen and(max-width:1150px) {
  .c-combo-swiper {
    &__slide {
      max-width: 250px !important;
    }
    // &__slide,
    // .swiper-slide,
    &-button-next,
    .swiper-button-next {
      top: 55%;
      right: 1%;
    }
  }
}
// .lasted-item {
// }
