.c-filter {
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__image {
    display: none;
  }
  &__price,
  &__title {
    margin-bottom: 12px;
  }
  &__price,
  .e-price {
    font-family: $f-nunito-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: em(20);
    line-height: 24px;
    color: $c-dark-yellow;
  }
  &__title,
  .e-tab-title {
    font-family: $f-nunito-bold;
    font-style: normal;
    font-weight: bold;
    font-size: em(24);
    line-height: 28px;
    color: $c-dark-blue;
  }
  &__description {
    margin-bottom: 42px;
  }
  &__description,
  .e-description {
    font-family: $f-nunito-regular;
    font-style: normal;
    font-weight: 300;
    font-size: em(16);
    line-height: 22px;
    color: $c-dark-grey;
  }
}
@media screen and(max-width:1360px) {
  .c-container {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &__price,
    &__title {
      margin-bottom: 0px;
    }
    &__price,
    .e-price {
      font-family: $f-nunito-semibold;
      font-style: normal;
      font-weight: 600;
      font-size: em(20);
      line-height: 24px;
      color: $c-dark-yellow;
    }
    &__title,
    .e-tab-title {
      font-family: $f-nunito-bold;
      font-style: normal;
      font-weight: bold;
      font-size: em(24);
      line-height: 28px;
      color: $c-dark-blue;
    }
    &__image {
      max-width: 363px;
      width: 100%;
      padding-top: 50px;
      display: block;
    }
    .e-tab__img {
      max-width: 363px;
      width: 100%;
      overflow: hidden;
      height: auto;
    }
    &__description {
      margin-bottom: 0px;
    }
    &__subdescription {
      margin-bottom: 0px;
    }
  }
}
@media screen and (max-width: 1025px) {
  .c-filter {
    &__price,
    .e-price {
      font-family: $f-nunito-semibold;
      font-style: normal;
      font-weight: 600;
      font-size: em(18);
      line-height: 24px;
      color: $c-dark-yellow;
    }
    &__title,
    .e-tab-title {
      font-family: $f-nunito-bold;
      font-style: normal;
      font-weight: bold;
      font-size: em(20);
      line-height: 28px;
      color: $c-dark-blue;
    }
    &__description,
    .e-description {
      font-family: $f-nunito-regular;
      font-style: normal;
      font-weight: 300;
      font-size: em(14);
      line-height: 22px;
      color: $c-dark-grey;
    }
  }
  .e-toptext {
    font-family: $f-nunito-regular;
    font-style: normal;
    font-weight: 300;
    font-size: em(14);
    line-height: 22px;
    color: $c-primary;
  }
}
@media screen and (max-width: 980px) {
  .c-container {
    &__image,
    .e-tab__img {
      max-width: 363px;
      width: 100%;
      padding-top: 50px;
      display: block;
      overflow: hidden;
    }
    &__image img {
      width: 100%;
      background-size: cover;
    }
  }
}

@media screen and(max-width:620px) {
  .c-container {
    &__price,
    .e-price {
      font-family: $f-nunito-semibold;
      font-style: normal;
      font-weight: 600;
      font-size: em(16);
      line-height: 24px;
      color: $c-dark-yellow;
    }
    &__title,
    .e-tab-title {
      font-family: $f-nunito-bold;
      font-style: normal;
      font-weight: bold;
      font-size: em(18);
      line-height: 28px;
      color: $c-dark-blue;
    }
    &__description,
    .e-description {
      font-family: $f-nunito-regular;
      font-style: normal;
      font-weight: 300;
      font-size: em(12);
      line-height: 22px;
      color: $c-dark-grey;
    }
  }
}
