.c-footer {
  &__wrapper {
    min-height: 60px;
    height: 100%;
    background-color: $c-light-grey;
    display: flex;
    justify-content: center;
  }
  &__text {
    font-family: $f-nunito-regular;
    font-size: 16px;
    line-height: 22px;
    color: $c-primary;
  }
}
