.c-giftset {
  position: relative;
  &__wrapper {
    background-color: $c-light-grey;
    max-width: 1080px;
    width: 100%;
  }
  &__title {
    position: absolute;
    padding-top: 82px;
    max-width: 224px;
    width: 100%;
    right: 270px;
  }
}
