.c-header {
  position: relative;
  &__wrapper {
    padding: 0 0 0 134px;
  }
  &__logo {
    position: absolute;
    padding: 72px 0 0 0;
  }
  &__navigation {
    float: right;
  }
  &__banner {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1280px) {
  .c-header {
    position: relative;
    &__wrapper {
      padding: 0 0 0 100px;
    }
  }
}
@media screen and (max-width: 1165px) {
  .c-header {
    position: relative;
    &__wrapper {
      padding: 0 0 0 50px;
    }
  }
}
@media screen and (max-width: 1065px) {
  .c-header {
    position: relative;
    &__wrapper {
      padding: 0 0 0 0px;
    }

    &__logo {
      position: absolute;
      padding: 72px 0 0 60px;
      z-index: 2;
    }
  }
}

@media screen and(max-width:720px) {
  .c-header {
    position: initial;
    &__wrapper {
      padding: 0 0 0 20px;
    }
    &__logo {
      position: absolute;
      padding: 72px 0 0 0;
    }
    &__navigation {
      // content: "";
      // z-index: 3;
      float: right;
    }
    &__banner {
      display: block;
    }
  }
}
@media screen and(max-width:430px) {
  .c-header {
    &__navigation {
      // content: "";
      // z-index: 3;
      float: none;
    }
  }
}
// @media screen and (max-width: 1020px) {
//   .c-header {
//     &__logo {
//       position: absolute;
//       padding: 72px 0 0 0;
//     }
//   }
// }
