.c-location {
  &__wrapper {
    padding: 0px 120px 80px 120px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  &__title {
    text-align: center;
  }
  &__map {
    padding-top: 50px;
    padding-right: 50px;
    height: 100%;
  }
  #js-map {
    max-width: 1160px;
    height: 500px;
  }
  &__content {
    max-width: 560px;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }
}
.c-content {
  &__title {
    margin-bottom: 15px;
  }
  &__title,
  .e-content__title {
    font-family: $f-nunito-bold;
    font-style: normal;
    font-weight: bold;
    font-size: em(28);
    line-height: 28px;
    color: $c-dark-blue;
  }

  &__address {
    .e-content__showroom {
      font-family: $f-nunito-semibold;
      font-style: normal;
      font-weight: 600;
      font-size: em(20);
      line-height: 24px;
      color: $c-dark-blue;
      margin-bottom: 10px;
    }
    .e-content__address {
      font-family: $f-nunito-regular;
      font-style: normal;
      font-weight: 300;
      font-size: em(18);
      line-height: 24px;
      color: $c-dark-blue;
      margin-bottom: 10px;
    }
  }

  // .e-content__address
}
