.c-tab {
  position: relative;
  &__wrapper {
    position: absolute;
    max-width: 1140px;
    width: 100%;
    background-color: $c-absolute-white;
    // box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
    right: -165px;
    display: flex;
    flex-direction: row-reverse;
  }
  &__nav {
    &__ul {
      list-style-type: none;
    }
    &__li {
      background-color: $c-light-grey;
    }
    &__li > .e-nav__li__item {
      padding: 60px 30px;
      font-family: $f-montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: em(30);
      line-height: 34px;
      color: #bbc2cb;
    }
    &__li:hover {
      background-color: $c-absolute-white;
      box-shadow: -4px 7px 7px -4pxrgba (158, 158, 158, 0.5);
    }
    .e-nav__li__item:hover {
      // background-color: $c-absolute-white;
      color: $c-primary;
    }
  }
  &__container {
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding: 64px 64px 64px 295px;
    }
  }
}

.c-container {
  &__price {
    margin-bottom: 12px;
  }
  .e-price {
    font-family: $f-nunito-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: em(20);
    line-height: 24px;
    color: $c-dark-yellow;
  }
  &__title {
  }
}

.c-subdescription__variety-img > img,
.c-subdescription__high-img > img {
  max-width: 40px;
  width: 100%;
}
