.c-tab {
  position: relative;
  padding-bottom: 126px;
  padding-right: 130px;
  &__wrapper {
    position: relative;
    max-width: 880px;
    width: 100%;
    background-color: #ffff;
    // left: 386px;
    // padding-right: 132px;
    display: flex;
    flex-direction: row-reverse;
  }

  &__nav {
    &__ul {
      list-style-type: none;
    }
    &__li {
      background-color: $c-absolute-white;
    }
    &__li > .e-nav__li__item {
      padding: 60px 30px;
      font-family: $f-montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: em(30);
      line-height: 34px;
      color: $c-primary;
    }
    &__li:hover {
      background-color: $c-absolute-white;
      box-shadow: -4px 7px 7px -4px rgba (158, 158, 158, 0.5);
    }
    // .e-nav__li__item:hover {
    //   // background-color: $c-absolute-white;
    //   color: $c-primary;
    // }
  }
  &__container {
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding: 64px 68px 64px 295px;
      box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
    }
    &__image {
      position: absolute;
      top: 51px;
      right: 590px;
    }
  }
  &__filter {
    display: none;
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding: 64px 68px 64px 295px;
      box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
    }
    &__image {
      position: absolute;
      top: -80px;
      right: 520px;
    }
  }
  &__modern-set {
    display: none;
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding: 64px 68px 64px 295px;
      box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
    }
    &__image {
      position: absolute;
      top: -60px;
      right: 520px;
    }
  }
}

.c-container {
  &__price,
  &__title {
    margin-bottom: 12px;
  }
  &__price,
  .e-price {
    font-family: $f-nunito-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: em(20);
    line-height: 24px;
    color: $c-dark-yellow;
  }
  &__title,
  .e-tab-title {
    font-family: $f-nunito-bold;
    font-style: normal;
    font-weight: bold;
    font-size: em(24);
    line-height: 28px;
    color: $c-dark-blue;
  }
  &__description {
    margin-bottom: 24px;
  }
  &__description,
  .e-description {
    font-family: $f-nunito-regular;
    font-style: normal;
    font-weight: 300;
    font-size: em(16);
    line-height: 22px;
    color: $c-dark-grey;
  }
  &__subdescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 46px;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

.c-filter {
  &__price,
  &__title {
    margin-bottom: 12px;
  }
  &__price,
  .e-price {
    font-family: $f-nunito-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: em(20);
    line-height: 24px;
    color: $c-dark-yellow;
  }
  &__title,
  .e-tab-title {
    font-family: $f-nunito-bold;
    font-style: normal;
    font-weight: bold;
    font-size: em(24);
    line-height: 28px;
    color: $c-dark-blue;
  }
  &__description {
    margin-bottom: 42px;
  }
  &__description,
  .e-description {
    font-family: $f-nunito-regular;
    font-style: normal;
    font-weight: 300;
    font-size: em(16);
    line-height: 22px;
    color: $c-dark-grey;
  }
}
.c-modern-set {
  &__price,
  &__title {
    margin-bottom: 12px;
  }
  &__price,
  .e-price {
    font-family: $f-nunito-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: em(20);
    line-height: 24px;
    color: $c-dark-yellow;
  }
  &__title,
  .e-tab-title {
    font-family: $f-nunito-bold;
    font-style: normal;
    font-weight: bold;
    font-size: em(24);
    line-height: 28px;
    color: $c-dark-blue;
  }
  &__description {
    margin-bottom: 42px;
  }
  &__description,
  .e-description {
    font-family: $f-nunito-regular;
    font-style: normal;
    font-weight: 300;
    font-size: em(16);
    line-height: 22px;
    color: $c-dark-grey;
  }
}

.c-subdescription__variety,
.c-subdescription__high {
  display: flex;
}
.c-subdescription__variety-text,
.c-subdescription__high-text {
  padding-left: 12px;
}

.e-toptext {
  font-family: $f-nunito-regular;
  font-style: normal;
  font-weight: 300;
  font-size: em(16);
  line-height: 22px;
  color: $c-primary;
}

.e-subtext {
  font-family: $f-nunito-semibold;
  font-style: normal;
  font-weight: 600;
  font-size: em(16);
  line-height: 22px;
  color: $c-primary;
}
.c-subdescription__variety-img > img,
.c-subdescription__high-img > img {
  max-width: 40px;
  width: 100%;
}

.disable {
  // opacity: 0.4;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  background-color: $c-light-grey;
  color: #bfc6cf;
}
/* класс активации*/
.active {
  background-color: $c-absolute-white;
  color: $c-primary;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  // opacity: 1;
}

// @media screen and (max-width: 1300px) {
//   .c-tab {
//     position: relative;
//     padding-bottom: 126px;
//     &__wrapper {
//       position: relative;
//       max-width: 875px;
//       width: 100%;
//       background-color: #ffff;
//       left: 286px;
//       display: flex;
//       flex-direction: row-reverse;
//     }
//   }
// }
