.c-tab {
  position: relative;
  padding-bottom: 126px;
  // padding-right: 130px;
  &__wrapper {
    position: relative;
    max-width: 880px;
    width: 100%;
    background-color: #ffff;
    // right: -132px;
    left: 386px;
    // padding-right: 132px;
    display: flex;
    flex-direction: row-reverse;
  }

  &__nav {
    &__ul {
      list-style-type: none;
    }
    &__li {
      background-color: $c-absolute-white;
    }
    &__li > .e-nav__li__item {
      padding: 60px 30px;
      font-family: $f-montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: em(30);
      line-height: 34px;
      color: $c-primary;
    }
    &__li:hover {
      background-color: $c-absolute-white;
      box-shadow: -4px 7px 7px -4px rgba (158, 158, 158, 0.5);
    }
    // .e-nav__li__item:hover {
    //   // background-color: $c-absolute-white;
    //   color: $c-primary;
    // }
  }
  &__container {
    box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
    &__wrapper {
      display: flex;
      flex-direction: row;
      padding: 64px 68px 64px 295px;
    }
    &__image {
      position: absolute;
      top: 51px;
      right: 590px;
    }
  }
  &__filter {
    display: none;
    box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
    &__wrapper {
      display: flex;
      flex-direction: row;
      padding: 64px 68px 64px 295px;
    }
    &__image {
      position: absolute;
      top: -80px;
      right: 520px;
    }
  }
  &__modern-set {
    display: none;
    box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
    &__wrapper {
      display: flex;
      flex-direction: row;
      padding: 64px 68px 64px 295px;
    }
    &__image {
      position: absolute;
      top: -60px;
      right: 520px;
    }
  }
}

.c-subdescription__variety,
.c-subdescription__high {
  display: flex;
}
.c-subdescription__variety-text,
.c-subdescription__high-text {
  padding-left: 12px;
}

.e-toptext {
  font-family: $f-nunito-regular;
  font-style: normal;
  font-weight: 300;
  font-size: em(16);
  line-height: 22px;
  color: $c-primary;
}

.e-subtext {
  font-family: $f-nunito-semibold;
  font-style: normal;
  font-weight: 600;
  font-size: em(16);
  line-height: 22px;
  color: $c-primary;
}
.c-subdescription__variety-img > img,
.c-subdescription__high-img > img {
  max-width: 40px;
  width: 100%;
}

.disable {
  // opacity: 0.4;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  background-color: $c-light-grey;
  color: #bfc6cf;
}
/* класс активации*/
.active {
  background-color: $c-absolute-white;
  color: $c-primary;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  // opacity: 1;
}

@media screen and (max-width: 1360px) {
  .c-tab {
    position: initial;
    padding-bottom: 0;
    &__wrapper {
      position: initial;
      background-color: #ffff;
      display: flex;
      flex-direction: row-reverse;
    }
    &__container {
      &__wrapper {
        display: flex;
        flex-direction: row;
        padding: 40px 30px;
      }
      &__image {
        display: none;
      }
    }
    &__filter {
      &__wrapper {
        display: flex;
        flex-direction: row;
        padding: 38px 30px;
      }
      &__image {
        display: none;
      }
    }
    &__modern-set {
      &__wrapper {
        display: flex;
        flex-direction: row;
        padding: 38px 30px;
      }
      &__image {
        position: absolute;
        top: -60px;
        right: 520px;
      }
    }
  }
}
@media screen and(max-width:1025) {
  .e-toptext {
    font-family: $f-nunito-regular;
    font-style: normal;
    font-weight: 300;
    font-size: em(14);
    line-height: 22px;
    color: $c-primary;
  }
}

@media screen and (max-width: 980px) {
  .c-tab {
    &__nav {
      &__ul {
        list-style-type: none;
      }
      &__li {
        background-color: $c-absolute-white;
      }
      &__li > .e-nav__li__item {
        padding: 36px 20px;
        font-family: $f-montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: em(25);
        line-height: 34px;
        color: $c-primary;
      }
      &__li:hover {
        background-color: $c-absolute-white;
        box-shadow: -4px 7px 7px -4px rgba (158, 158, 158, 0.5);
      }
    }
  }
  .disable {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background-color: $c-light-grey;
    color: #bfc6cf;
  }
  .active {
    background-color: $c-absolute-white;
    color: $c-primary;
    border-left: 0;
    border-top: 0;
    border-right: 0;
  }
}
@media screen and (max-width: 830px) {
  .c-tab {
    &__nav {
      &__li > .e-nav__li__item {
        padding: 26px 10px;
        font-size: em(25);
        line-height: 34px;
      }
      &__li:hover {
        background-color: $c-absolute-white;
        box-shadow: -4px 7px 7px -4px rgba (158, 158, 158, 0.5);
      }
    }
    &__container {
      &__wrapper {
        padding: 20px 15px;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .e-toptext {
    font-family: $f-nunito-regular;
    font-style: normal;
    font-weight: 300;
    font-size: em(12);
    line-height: 22px;
    color: $c-primary;
  }
}
