mixin features-card(args)
  -let src = args.src;
  -let titleCard = args.titleCard;
  -let description = args.description;


  img(src=src, alt="icon").e-features__card-icon
  h2.e-features__card-title=titleCard
  p.e-features__card-description= description

//- if(className == "e-features__icon")
//- -let className = args.className;
