.c-features {
  &__wrapper {
    padding: 87px 148px 128px 148px;
  }

  &__title {
    text-align: center;
    padding-bottom: 72px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__cards-item {
    max-width: 226px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1240px) {
  .c-features {
    &__wrapper {
      padding: 60px 80px 90px 80px;
    }
  }
}
@media screen and (max-width: 1070px) {
  .c-features {
    &__wrapper {
      padding: 40px;
    }
  }
}

@media screen and(max-width:1000px) {
  .c-features {
    &__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__cards-item:last-child {
      margin-top: 20px;
    }
  }
}
@media screen and(max-width:760px) {
  .c-features {
    &__cards-item:nth-child(3n) {
      margin-top: 20px;
    }
  }
}
@media screen and(max-width:530px) {
  .c-features {
    &__cards {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
    &__cards-item:nth-child(2n) {
      margin-top: 20px;
    }
    &__cards-item {
      max-width: 210px;
      width: 100%;
      padding: 10px;
      box-shadow: 2px 0px 52px -22px #74748d;
    }
  }
}
