mixin banner()
  .c-banner 
    .c-banner__background 
      img(src="./assets/images/banner.png" alt="banner")
      .c-banner__btn-play 
        button.c-banner__btn-video
          img(src="./assets/images/Triangle.svg" alt="play")
    .c-banner__btn-stop 
      button.c-banner__btn-video-stop
        span | |
    video#fon
      source(src="./assets/video/Coffee-Shop(1).mp4" type="video/mp4").c-banner__video
    .c-banner__wrapper 
      .c-banner__title 
        h1.e-title YOUR
        h1.e-title.e-title__background PERSONALIZED
        h1.e-title COFFEE
