mixin button(args)
  - let content = args.content;
  - let classList = args.classList;
  - let spanClassList = args.spanClassList;
  - let id = args.id;
    button(class= classList)()&attributes(attributes)
      span(class= spanClassList)= content