mixin modal-window(args)
  - let description = args.description;

  .c-modal-window 
    .c-modal-window__wrapper 
      .c-modal-window__title 
        +title({
          content:"REVO Morning",
        })

