mixin modal-window(args)
  - let description = args.description;
  - let className = args.className;

  .c-modal-window 
    .c-modal-window__wrapper 
      .c-modal-window__title 
        +title({
          content:"REVO Morning",
          classList: "e-title--montserrat",
        })
      .c-model-window__description 
        p.

