mixin coffee()
  .c-coffee#js-coffee
    .c-coffee__wrapper 
      .c-coffee__title 
        +title({
          classList:"e-title--nunito",
          content:"Choose Your Favorite",
        })
        +title({
          classList:"e-title--montserrat",
          content:"CHUẨN GU ĐÚNG VỊ",
        })
      .c-coffee__rectangle
      .c-coffee__swiper 
        +swiper()
    .c-coffee__modal
      +modal-window({
        title: "REVO Morning",
        classList:"e-title--montserrat",
        className: "e-slide__description",
        description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iste obcaecati voluptatem accusamus sed excepturi fugiat doloribus, sit, incidunt consequatur inventore qui amet consequuntur explicabo fugit hic, quibusdam laboriosam veniam error nobis iusto nisi quia fuga. Ipsam nostrum in nesciunt ea repellat tempore. Fugiat aperiam blanditiis fugit qui ex quibusdam!",
        price: "99.000",
        id: ""
      })
    .c-coffee__modal.c-coffee__modal1
      +modal-window({
        title: "REVO Everyday",
        classList:"e-title--montserrat",
        className: "e-slide__description",
        description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iste obcaecati voluptatem accusamus sed excepturi fugiat doloribus, sit, incidunt consequatur inventore qui amet consequuntur explicabo fugit hic, quibusdam laboriosam veniam error nobis iusto nisi quia fuga. Ipsam nostrum in nesciunt ea repellat tempore. Fugiat aperiam blanditiis fugit qui ex quibusdam!",
        price: "85.000",
      })
    .c-coffee__modal.c-coffee__modal2
      +modal-window({
        title: "REVO Honey",
        classList:"e-title--montserrat",
        className: "e-slide__description",
        description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iste obcaecati voluptatem accusamus sed excepturi fugiat doloribus, sit, incidunt consequatur inventore qui amet consequuntur explicabo fugit hic, quibusdam laboriosam veniam error nobis iusto nisi quia fuga. Ipsam nostrum in nesciunt ea repellat tempore. Fugiat aperiam blanditiis fugit qui ex quibusdam!",
        price: "195.000",
      })
    .c-coffee__modal.c-coffee__modal3
      +modal-window({
        title: "REVO Origin",
        classList:"e-title--montserrat",
        className: "e-slide__description",
        description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iste obcaecati voluptatem accusamus sed excepturi fugiat doloribus, sit, incidunt consequatur inventore qui amet consequuntur explicabo fugit hic, quibusdam laboriosam veniam error nobis iusto nisi quia fuga. Ipsam nostrum in nesciunt ea repellat tempore. Fugiat aperiam blanditiis fugit qui ex quibusdam!",
        price: "139.000",
      })
    .c-coffee__modal.c-coffee__modal4
      +modal-window({
        title: "REVO Đậm Đà",
        classList:"e-title--montserrat",
        className: "e-slide__description",
        description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iste obcaecati voluptatem accusamus sed excepturi fugiat doloribus, sit, incidunt consequatur inventore qui amet consequuntur explicabo fugit hic, quibusdam laboriosam veniam error nobis iusto nisi quia fuga. Ipsam nostrum in nesciunt ea repellat tempore. Fugiat aperiam blanditiis fugit qui ex quibusdam!",
        price: "75.000",
      })
    .c-coffee__modal.c-coffee__modal5
      +modal-window({
        title: "REVO Natural",
        classList:"e-title--montserrat",
        className: "e-slide__description",
        description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iste obcaecati voluptatem accusamus sed excepturi fugiat doloribus, sit, incidunt consequatur inventore qui amet consequuntur explicabo fugit hic, quibusdam laboriosam veniam error nobis iusto nisi quia fuga. Ipsam nostrum in nesciunt ea repellat tempore. Fugiat aperiam blanditiis fugit qui ex quibusdam!",
        price: "169.000",
      })

