mixin coffee()
  .c-coffee 
    .c-coffee__wrapper 
      .c-coffee__title 
        +title({
          classList:"e-title--nunito"e-title--montserrat,
          content:"Choose Your Favorite",
        })
        +title({
          classList:"e-title--montserrat",
          content:"CHUẨN GU ĐÚNG VỊ",
        })
      .c-coffee__rectangle
        .c-coffe__rectangle__wrapper 

