mixin combo-swiper()
  .c-combo-swiper.swiper
    .c-combo-swiper__wrapper.swiper-wrapper 
      .c-combo-swiper__slide.swiper-slide
        +combo-swiper-slide({
          src:"./assets/images/product1.png",
          price: "147.000",
          lastPrice:"155.000",
          title: "Combo Revo Đậm Đà",
          description:"Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...",
          type:"button",
          contentName:"MUA NGAY",
          className:"c-button-buy",
          spanClassName:"c-button-text",
          idName:"js-swiper-btn1--buy",
          content:"CHI TIẾT",
          classList: "c-button-more",
          spanClassList:"c-button-text--dark",
          id:"js-swiper-btn1--more",
        })
      .c-combo-swiper__slide.swiper-slide
        +combo-swiper-slide({
          src:"./assets/images/product2.png",
          price: "156.000",
          lastPrice:"165.000",
          title: "Combo Revo Everyday",
          description:"Revo Everyday được phối trộn giữa vị đắng của hạt Robusta và hương thơm...",
          type:"button",
          contentName:"MUA NGAY",
          className:"c-button-buy",
          spanClassName:"c-button-text",
          idName:"js-swiper-btn2--buy",
          content:"CHI TIẾT",
          classList: "c-button-more",
          spanClassList:"c-button-text--dark",
          id:"js-swiper-btn2--more",
        })
      .c-combo-swiper__slide.swiper-slide
        +combo-swiper-slide({
          src:"./assets/images/product3.png",
          price: "275.000",
          lastPrice:"260.000",
          title: "Combo Revo Honey",
          description:"Honey – trong tên gọi Revo Honey đến từ phương pháp chế biến hạt Arabica ...",
          type:"button",
          contentName:"MUA NGAY",
          className:"c-button-buy",
          spanClassName:"c-button-text",
          idName:"js-swiper-btn3--buy",
          content:"CHI TIẾT",
          classList: "c-button-more",
          spanClassList:"c-button-text--dark",
          id:"js-swiper-btn3--more",
        })
      .c-combo-swiper__slide.swiper-slide
        +combo-swiper-slide({
          src:"./assets/images/product4.png",
          price: "249.000",
          lastPrice:"236.000",
          title: "Combo Revo Honey",
          description:"Revo Natural là dòng cà phê đặc biệt của Revo Coffee dành riêng đặc biệt...",
          type:"button",
          contentName:"MUA NGAY",
          className:"c-button-buy",
          spanClassName:"c-button-text",
          idName:"js-swiper-btn4--buy",
          content:"CHI TIẾT",
          classList: "c-button-more",
          spanClassList:"c-button-text--dark",
          id:"js-swiper-btn4--more",
        })
    .c-combo-swiper-button-next.swiper-button-next#js-combo-swiper-next



