mixin combo-swiper-slide(args)
  -let src = args.src;
  -let price = args.price;
  -let lastPrice = args.lastPrice;
  -let title = args.title;
  -let description = args.description; 
  -let type = args.type;