mixin contact()
  .c-contact 
    .c-contact__wrapper 
      .c-contact__title 
        +title({
          classList:"e-title--montserrat",
          content:"OUR CONTACTS",
        })
      .c-contact__map 
        .c-map#ja-map 
      .c-contact__content 
