mixin contacts()
  .c-contacts 
    .c-contacts__title 
      +title({
        classList:"e-title--montserrat",
        content:"CONTACTS",
      })
    .c-contacts__wrapper
      .c-contacts__left 
        .c-contacts__left__description 
          p.e-contacts__left__description Questions? Feedback?
          p.e-contacts__left__description We will replay soon in 1-2 working days.
        form.c-contacts__form(action="#" method = "POST" id="js-form")
          label(for = "js-input-first-name").c-contacts__label
            input(type="text" placeholder="Name" name="first-name" id="js-input-first-name").c-contacts__input
            span(id="js-error-name")
          label(for = "js-input-last-name").c-contacts__label
            input(type="text" placeholder="Name" name="last-name" id="js-input-last-name").c-contacts__input
            span(id="js-error-name")
          label(for = "js-input-email").c-contacts__label
            input(type="email" placeholder="E-mail" name="email" id="js-input-email").c-contacts__input.c-contacts__input--email
            span(id="js-error-email")
          label(for="js-textarea-message").c-contacts__label
            textarea(name="message" cols="30" rows="10" placeholder="Message..." id="js-textarea-message").c-contacts__textarea
            span(id="js-error-message")
          button(type="button").c-contacts__btn#js-contacts__btn
            span.c-contacts__btn-text SEND
      .c-contacts__right 
        .c-contacts__right__title 
          h4 Socials
        .c-contacts__socials 
          a.e-social__link(href= "https://www.instagram.com/revocoffeevietnam/")
            i.fab.fa-instagram
          a.e-social__link(href="https://www.facebook.com/revocoffee.vn")
            i.fab.fa-facebook-square
        .c-contacts__email 
          h4.e-email Email: 
          a.e-email__link(href="mailto:info@revocoffee.vn")  
            span info@revocoffee.vn
        .c-contacts__tel 
          h4.e-tel Tel: 
          a.e-tel__link(href="tel:+84866585980")
            span (+84) 866 58 59 80




