mixin features()
  .c-features 
    .c-features__wrapper 
      .c-features__title 
        h3.e-features__subtitle 
        h2.e-features__title
      .c-features__cards 
        .c-features__cards-item 
          +features-card({
            src:"./assets/images/ic.svg",
            titleCard:"Nguồn gốc",
            description: "Những hạt cà phê Arabica, Robusta đạt chất lượng theo tiêu chuẩn quốc tế.",
            className:"e-features__icon"
          })
        .c-features__cards-item 
          +features-card({
            src:"./assets/images/ic1.svg",
            titleCard:"Chất lượng",
            description: "Từng một hạt cà phê là cả một quá trình tập trung cao độ của nghệ nhân cà phê.",
            className:"e-features__icon"
          })
        .c-features__cards-item 
          +features-card({
            src:"./assets/images/ic2.svg",
            titleCard:"Nguồn gốc",
            description: "Những hạt cà phê Arabica, Robusta đạt chất lượng theo tiêu chuẩn quốc tế.",
            className:"e-features__icon"
          })
        .c-features__cards-item 
          +features-card({
            src:"./assets/images/ic3.svg",
            titleCard:"Nguồn gốc",
            description: "Những hạt cà phê Arabica, Robusta đạt chất lượng theo tiêu chuẩn quốc tế.",
            className:"e-features__icon"
          })
