mixin features()
  .c-features 
    .c-features__wrapper 
      .c-features__title 
        h3.e-features__subtitle 
        h2.e-features__title
      .c-features__cards 
        .c-features__cards-item 
          +features-card({
            src:"./assets/images/ic.svg",
            titleCard:""
          })
