mixin giftset()
  .c-giftset 
    .c-giftset__wrapper
      .c-giftset__title 
        +title({
          classList:"e-title--nunito",
          content:"Choose Your Favorite",
        })
        +title({
          classList:"e-title--montserrat",
          content:"CHUẨN GU ĐÚNG VỊ",
        })

