mixin location()
  .c-location 
    .c-location__title 
      +title({
        classList:"e-title--montserrat",
        content:"OUR LOCATION",
      })
    .c-location__wrapper 
      .c-location__map 
        #js-map
      .c-location__content 
        .c-location__subtitle 
          h3.e-location__title Revo Coffee 
        .c-location__address 
          p.e-location__text Block O2, 8B Street, Kizuna Factory, lot K, Tan Kim IP, Can Giuoc District, Long An Province


