mixin location()
  .c-location 
    .c-location__title 
      +title({
        classList:"e-title--montserrat",
        content:"OUR LOCATION",
      })
    .c-location__wrapper 
      .c-location__map 
        #js-map
      .c-location__content 
        .c-content__title 
          h4.e-content__title Revo Coffee 
        .c-content__address 
          h5.e-content__showroom Showroom:
          p.e-content__address 27 Pham Thai Buong Street, Phu My Hung, District 7, HCMC




