mixin location()
  .c-location 
    .c-location__title 
      +title({
        classList:"e-title--montserrat",
        content:"OUR LOCATION",
      })
    .c-location__wrapper 
      .c-location__map 
        #js-map
      .c-location__content 
        .c-content__title 
          h3.e-content__title Revo Coffee 
        .c-content__address 
          p.e-content__address 


