mixin navigation()
  nav.c-navigation 
    .c-navigation__wrapper
      .c-navigation__right
        .c-navigation__cart 
          .c-cart__wrapper
            .c-cart__counter 
              span#e-counter 2
            .c-cart__img 
              img(src="./assets/images/cart.svg" alt="cart") 
        .c-navigation__items 
          .c-navigation__item 
          +link({
            text: 'TRANG CHỦ'
            href:"#js-features",
          })
          .c-navigation__item 
            +link({
              text: 'COFFEE',
              href:"#js-features",

            })
          .c-navigation__item 
            +link({
              text: 'PHIN MẠ MÀU',
              href:"#js-coffee",

            })
          .c-navigation__item 
            +link({
              text: 'COMBO PHIN PHÊ',
              href:"#js-combo",
            })
          .c-navigation__item 
            +link({
              text: 'GIFTSET',
              href:"#js-giftset",
            })
          .c-navigation__item 
            +link({
              text: 'LIÊN HỆ'
            })
