mixin slide-item(args)
  -let src = args.src
  -let content = args.content

    .slide-item 
      .slide-item__wrapper
        .slide-item__right
          .slide-item__right-img
            img(src=src, alt="coffe").e-slide__img
        .slide-item__left 
          .slide-item__left__wrapper 
            p.slde-item__price= content 


