mixin slide-item(args)
  -let src = args.src

    .slide-item 
      .slide-item__wrapper
        .slide-item__right
          .slide-item__right-img
            img(src=src, alt="coffe").e-slide__img


