mixin swiper()
  .swiper
    .swiper-wrapper
      .swiper-slide
        +slide-item({
          src:"./assets/images/coffe-product1.png",
          price: "99",
          title: "REVO Morning",
          description:"đắng, hậu ngọt, hương hoa",
        })
      .swiper-slide
        +slide-item({
          src:"./assets/images/coffe-product1.png",
          price: "99",
          title: "REVO Morning",
          description:"đắng, hậu ngọt, hương hoa",
        })

