mixin swiper()
  .swiper
    .swiper-wrapper
      .swiper-top 
        .swiper-slide
        +slide-item({
          src:"./assets/images/coffe-product1.png",
          price: "99",
          title: "REVO Morning",
          description:"đắng, hậu ngọt, hương hoa",
        })
      .swiper-slide
        +slide-item({
          src:"./assets/images/coffe-product2.png",
          price: "85",
          title: "REVO Everyday",
          description:"cân bằng, hậu đắng, vị chocolate ",
        })
      .swiper-bottom 
        .swiper-slide
        +slide-item({
          src:"./assets/images/coffe-product3.png",
          price: "139",
          title: "REVO Origin",
          description:"hậu ngọt, ít đắng, vị chua dâu",
        })
      .swiper-slide
        +slide-item({
          src:"./assets/images/coffe-product4.png",
          price: "85",
          title: "REVO Everyday",
          description:"cân bằng, hậu đắng, vị chocolate ",
        })

