mixin swiper()
  .swiper.swiper-first
    .swiper-wrapper.swiper-first__wrapper
      .swiper-slide.swiper-slide-first
        +swiper-slide({
          src:"./assets/images/coffe-product1.png",
          price: "99.000",
          title: "REVO Morning",
          description:"đắng, hậu ngọt, hương hoa",
        })
      .swiper-slide.swiper-slide-first
        +swiper-slide({
          src:"./assets/images/coffe-product2.png",
          price: "85.000",
          title: "REVO Everyday",
          description:"cân bằng, hậu đắng, vị chocolate ",
        }) 
    .swiper-button-next#js-swiper-next
  .swiper.swiper-second 
    .swiper-wrapper.swiper-second__wrapper
      .swiper-slide.swiper-slide-second
        +swiper-slide({
          src:"./assets/images/coffe-product3.png",
          price: "99.000",
          title: "REVO Morning",
          description:"đắng, hậu ngọt, hương hoa",
        })
      .swiper-slide.swiper-slide-second 
        +swiper-slide({
          src:"./assets/images/coffe-product4.png",
          price: "85.000",
          title: "REVO Everyday",
          description:"cân bằng, hậu đắng, vị chocolate ",
        }) 

