mixin tab()
  .c-tab 
    .c-tab__wrapper 
      .c-tab__nav 
        ul.c-tab__nav__ul
          li.c-tab__nav__li 
            p.e-nav__li__item 1
          li.c-tab__nav__li 
            p.e-nav__li__item 2
          li.c-tab__nav__li 
            p.e-nav__li__item 3
      .c-tab__container
        .c-tab__container__wrapper 
          .c-tab__container__price 
            p.e-container__price 285.000
          .c-tab__container__title 
            h4.e-container__tile 
          .c-tab__container__description
            p.e-container__description
          .c-tab__container__subdescription 
            .c





