mixin tab()
  .c-tab 
    .c-tab__wrapper 
      .c-tab__nav 
        ul.c-tab__nav__ul
          li.c-tab__nav__li 
            p.e-nav__li__item 1
          li.c-tab__nav__li 
            p.e-nav__li__item 2
          li.c-tab__nav__li 
            p.e-nav__li__item 3
      .c-tab__container
        .c-tab__container__wrapper 
          .c-tab__container__price 
            p.e-container__price 285.000
          .c-tab__container__title 
            h4.e-container__tile Giftset "Cà phê phin Việt Nam"
          .c-tab__container__description
            p.e-container__description Món quà tuyệt vời dành cho người sành cà phê. Hạt cà phê được Revo cẩn trọng chọn lựa, rang xay theo công nghệ và bí quyết học hỏi từ những nghệ nhân nổi tiếng, cùng với tình yêu, sự đam mê của người làm cà phê… tạo ra những tách cà phê tinh khiết chỉ dành riêng cho bạn.
          .c-tab__container__subdescription 
            .c-tab





