mixin tab()
  .c-tab 
    .c-tab__wrapper 
      .c-tab__nav 
        ul.c-tab__nav__ul
          li.c-tab__nav__li 
            p.e-nav__li__item 1
          li.c-tab__nav__li 
            p.e-nav__li__item 2
          li.c-tab__nav__li 
            p.e-nav__li__item 3
      .c-tab__container
        .c-tab__container__wrapper 
          .c-container__price 
            p.e-price 285.000
          .c-container__title 
            h4.e-tile Giftset "Cà phê phin Việt Nam"
          .c-container__description
            p.e-description Món quà tuyệt vời dành cho người sành cà phê. Hạt cà phê được Revo cẩn trọng chọn lựa, rang xay theo công nghệ và bí quyết học hỏi từ những nghệ nhân nổi tiếng, cùng với tình yêu, sự đam mê của người làm cà phê… tạo ra những tách cà phê tinh khiết chỉ dành riêng cho bạn.
          .c-container__subdescription 
            .c-subdescription__variety 
              .c-subdescription__variety-img 
                img(src="./assets/images/IC_coffee.svg" alt="icon coffe")
              .c-subdescription__variety-text 
                p.e-toptext Loại hạt
                p.e-subtext Fine Robusta Blend
            





