// COLORS
$c-primary: #415167;
$c-dark-yellow: #c7a17a;
$c-light-yellow: #f9f5e8;
$c-dark-grey: #151d28;
$c-light-grey: #edf0f5;
$c-white: #f9fbff;
// FONTS
// $f-nunito: "Nunito";
$f-nunito-bold: "Nunito";
$f-nunito-semibold: "Nunito";
$f-nunito-regular: "Nunito";
$f-nunito-lightitalic: "Nunito";
$f-montserrat: "Montserrat";

// FONT SIZE
$fs-base: 16;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// Box Shadow
$bs-normal: 3px 4px 7px rgba($c-dark-grey, 0.1);
