.e-features__card-icon {
  max-width: 80px;
  width: 100%;
  padding-bottom: 41px;
}
.e-features__card-title {
  font-family: $f-nunito-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: $c-dark-grey;
}
