.e-banner__title {
  color: $c-primary;
  font-family: $f-montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 70px;
  margin: 0;

  &--background {
    background-color: $c-dark-yellow;
    color: white;
  }
}

.e-title {
  &--montserrat {
    font-family: $f-nunito-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $c-primary;
  }
  &--nunito {
    font-family: $f-montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: $c-primary;
  }
}
